.main_member {
    margin: 70px 0;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.533); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.member_item {
    margin: 10px;
    padding: 20px;
    width: 30%;
}
.member_item h1 {
    margin-bottom: 10px;
}
.member_item:nth-child(1) {
    background-color: rgb(245, 250, 215);
}
.member_item:nth-child(2) {
    background-color: rgb(254, 212, 212);
}
.member_item:nth-child(3) {
    background-color: rgb(215, 250, 244);
}
@media(min-width: 740px) {
    .main_member {
        flex-direction: row;
    }
}
/* new letter */
.container .section-title {
    font-size: 3.5rem;
}
.newsletter{
    letter-spacing: 1px;
    padding-bottom: 6rem;
}
.form-container-inner h2, p {
    text-align: center;
}
.newsletter-title{
    font-size: 2rem;
}
.newsletter-description{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8d8c8c;
    max-width: 40rem;
    margin-bottom: 2rem;
}
.form-container-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form {
    height: 65px;
    max-width: 40%;
    display: flex;
    justify-content: center;
}
.form-input, .form-btn {
    display: inline-block;
    outline: none;
    border: 2px solid rgba(163, 163, 163, 0.585);
    padding: 1rem;
}
.form-input {
    border-right: none;
    width: 100%;
}

input, button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}
button i {
    font-size: 2rem;
}
button {
    background-color: #f1f1f1;
}